$indigo: #845aff;
$white: #ffffff;
$dark: #0f169c;
$green: #b46cb5;
$gradient: linear-gradient(203deg, rgb(180, 0, 0) 0%, rgba(67, 39, 158, 1) 100%);
$gradient2: linear-gradient(250deg, rgb(204, 189, 24) 24%, rgba(52, 108, 255, 1) 100%);

.green {
  color: $green;
}
.indigo {
  color: $indigo;
}
